.slider-wrapper {
    height: 400px;
}

.carousel .slide img {
    width: 400px;
    height: 400px;
    margin: 0 auto;

}

.carousel .slide {
    background-color: rgba(209, 171, 100, 0.253);;
}

.control-dots {
    display: none;
}

.thumbs-wrapper {
    display: none;
}

.gitBut {
    position: absolute;
    bottom: 0;
    margin-left: -400px;
    width: 200px;
    padding: 20px;
}

.webBut {
    position: absolute;
    bottom: 0;
    margin-left: -200px;
    width: 200px;
    padding: 20px;
}

.gitBut {
    background-color: rgba(71, 73, 73, 0.897);
}

.gitBut a {
    color: rgb(209, 171, 100);
}

.webBut {
    background-color: rgba(71, 73, 73, 0.897);
}

.webBut a {
    color: rgb(209, 171, 100);
}