html, body {
    height: 100%;
}

.home {
    height: 100%;
    background-image: url('./imgs/home4.png') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: rgba(31, 37, 37, 0.671);
}

.aboutWrapper {
   
    height: 400px
}

.projectWrapper {

    top: 0;
    margin-top: -400px;
    margin-bottom: 0;
}

.emptyWrapper {

    top: 0;
    height: 400px
}

@media only screen and (max-width: 499px) {
    .aboutWrapper {
   
        height: 350px
    }
  }
