html, body {
    height: 100%;
}

.home {
    height: 100%;
}

.mainHome {
    height: 100%;
    background-image: url('./imgs/home4.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(31, 37, 37, 0.671);
}